/* Write your CSS here! */

   body{
     margin: 8px;
   }
   p{
      font-family: cursive;
      color: #FBF37C;
      text-align: center;
   }
   .funParagraph{
      color:green;
   }
   #mainHeading{
      color: red;
   }
   h1{
      font-style: bold;
      font-size: 400%;
      color: #FBF37C;
      text-align: center;
      padding-bottom: 3%;
   }
   h2{
      font-family: cursive;
      color: #FBF37C;
   } 
   h6{
      font-size: medium;
      font-weight: bold;
      font-style: italic;
      color: #FBF37C;
      padding-top: 10%;
      text-align: center;
   }
    .imageSize{
      width: 100%;
      height: 100px;
    } 
   #alice{
      width: 200;
      height: 200;
   }
   #buttonStyle{
      background-color: black;
      color: #FBF37C;
   }
   #homeButton{
      position: fixed;
      top: 0%;
      left: 0%;
      background-color: black;
      color: #FBF37C;
   }
   #navBarText a{
      color: #FBF37C !important;
   }
   #hermanHeader{
      text-align: center;
   }
   #alice{
      width: 25%;
   }
   footer{
      text-align: center;
      color: #FBF37C;
      padding-left: 12%;
   }

  
   